html, body, #game-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#game-container canvas {
  display: block;
  outline: none;
}
